@charset "ISO-8859-1";
strong,hr,#parrafo,#titulo{
    color: white;
    
}
.col-md-3{
background-color: white;
}
.card-body{
    background: #141E30;
}
.btn-agregar{
    
    display: inline-block; 
    position: absolute;
    right: 10px;
    top: 10px;
}

#div-img{
    display: flex; 
    align-items: center;
    background: #141E30;
}
.txt-normal{
    font-weight: normal;
    }

    
#card_principal{
    margin-top:3%;
}